#!/bin/bash -v
# aws s3 cp s3://bestseller-erbay-bucket/index.html index.html
bucket_name="bestseller-prod-20220330084357494500000001"
bucket_download_url="s3://${bucket_name}/index.html"
aws s3 cp ${bucket_download_url} index.html
# aws s3 cp https://bestseller-website-20220330001324916200000001.s3.us-west-2.amazonaws.com/index.html index.html
# aws s3 cp s3://bestseller-prod-20220330084357494500000001/index.html index.html
chmod 755 index.html
cp index.html /var/www/html/index.html
service nginx restart